extends ../templates/base

block variables
	- var classBody = 'article-pg'
	- var classWrapper = 'article'

block title
	title Статья

block header
	include ../modules/header
	+header()
		+header-contact()
block main
	.banner(style='background-image: url(' + require('../../components/images/photo-3.jpg') + ')')
	.content-main.container
		.content-main__inner
			.article-pg__top
				section.breadcrumb.clearfix
					ul
						li
							a(href='./') Главная
						li
							a(href='./') Новости
						li Разнообразный и богатый...
			section.article-pg__content
				h2 Разнообразный и богатый опыт
				.article-pg__time 20 часов назад
				.article-pg__name Админ
				h3.
					Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании модели развития.
				p.
					Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности способствует подготовки и реализации существенных финансовых и административных условий. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития. Задача организации, в особенности же консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
				ul
					li 
						p Таким образом реализация намеченных
					li 
						p Разнообразный и богатый опыт рамки
					li 
						p Начало повседневной работы по формированию
					li 
						p Реализация намеченных плановых заданий
				h4.
					Равным образом постоянный
				p.
					Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности позволяет оценить значение соответствующий условий активизации.
				.article-pg__bottom
					.article-pg__data Desember 10, 2017
					ul.article__socials
						li
							a(href="#").fa.fa-instagram
						li
							a(href="#").fa.fa-facebook
						li
							a(href="#").fa.fa-twitter
						li
							a(href="#").fa.fa-vk
			include ../templates/you-like