extends ../templates/base

block variables
	- var classBody = 'equipment-page'
	- var classWrapper = 'equipment'

block title
	title Оборудование

block header
	include ../modules/header
	+header()
block main
	section.breadcrumb
		.container
			ul.clearfix
				li
					a(href='./') Главная
				li
					a(href='./') Услуги
				li Пресс-формы для выдува бутылок
			+language()
	.content-main.container
		h1 Пресс-формы для выдува бутылок
		.content-main__inner
			section.bottle-info
				ul.row
					li.col-lg-5.col-md-6
						.bottle-info__left
							.company__left-img(style='background-image: url(' + require('../../components/images/photo-2.jpg') +')')
					li.col-lg-7.col-md-6
						.bottle-info__right
							h2.section-title
								| Выдув
								br
								| бутылок
							p.
								Сейчас выдувные формы используются на каждом производстве, которое работает в сфере изготовления различной пластиковой и стеклянной продукции. 
							p.
								Многие изготовители предлагают самую разную продукцию, но не вся она отличается соответствующим качеством, которое отвечает всем международным стандартам. Чтобы выбрать производителя, предлагающего изделия необходимого уровня, понадобится обратить внимание на ряд критериев. Нередко изготовление пресс-форм для пластика становится настоящей проблемой для изготовителя различных изделий, поскольку для этого требуется высококачественное оборудование. Его стоимость нередко превышает наличествующий капитал, поэтому в процессе изготовления форм из пластика приходится обращаться к стороннему исполнителю.
			section.press-form
				ul.row
					li.col-md-6
						.press-form__left
							h2.section-title
								| Изготовление пресс
								br
								| -форм и штампов
							p.
								Современное производство стало очень высокотехнологичным и чтобы уверенно держаться на этом рынке, надо иметь соответствующее оборудование и высокопрофессиональных сотрудников. Наша компания ООО ”Форма-Плюс” уже более 5-ти лет работает на рынке инструментального производства. Это проектирование и изготовление пресс-форм и штампов.
								Цена на пресс-формы для выдува ПЭТ-бутылок определяет, какие материалы были использованы при производстве изделия. Именно этот момент способен гарантировать, что клиент получит достаточно качественную продукцию, изготовленную из экологически безопасных компонентов, имеющих соответствующие сертификаты международного образца.

					li.col-md-6
						.press-form__right
							h2.section-title
								| Особенности
								br
								| изготовления
							ul
								li
									span
										h3  Используется специальное оборудование.
										p.
											Для изготовления пресс форма для выдува пэт бутылок используется специальное оборудование.
								li
									span
										h3 Всегда ориентируемся на стандарты ТПП
										p.
											При изготовлении пресс-формы для выдува пластиковых бутылок производитель всегда ориентируется на стандарты ТПП
								li
									span
										h3 Стоимость подобной продукции
										p.
											Чтобы купить пресс для ПЭТ-бутылки, следует обратить внимание на то, как формируется стоимость подобной продукции у конкретного исполнителя.

			section.press-form-info
				h2.section-title
					| Изготовление пресс
					br
					| -форм и штампов
				span.
					Чтобы купить пресс для ПЭТ-бутылки, следует обратить внимание на то, как формируется стоимость подобной продукции у конкретного исполнителя.
				.press-form-info__block
					.row
						.col-sm-12.col-md-push-7.col-md-5.col-lg-4
							ul.nav.nav-pills.press-form-info__list
								li.active
									a(href="#tab1", data-toggle='pill').press-form-info__box
										.press-form-info__img(style='background-image: url(' + require('../../components/images/photo-3.jpg') + ')')
										.press-form-info__info
											h5 От чего зависит цена на пресс формы
											p
												| Желая знать, по какой стоимости лучше всего купить пресс для пластиковых бутылок...
											.read-more Читать еще
								li
									a(href="#tab2", data-toggle='pill').press-form-info__box
										.press-form-info__img(style='background-image: url(' + require('../../components/images/photo-3.jpg') + ')')
										.press-form-info__info
											h5 От чего зависит цена на пресс формы
											p
												| Желая знать, по какой стоимости лучше всего купить пресс для пластиковых бутылок...
											.read-more Читать еще
						.col-sm-12.col-md-pull-5.col-md-7.col-lg-8
							.tab-content#tab-content
								#tab1.tab-pane.fade.in.active
									.press-form-info__content
										.press-form-info__img(style='background-image: url(' + require('../../components/images/photo-3.jpg') + ')')
										.press-form-info__info
											h5 От чего зависит цена на пресс формы
											p
												| Желая знать, по какой стоимости лучше всего купить пресс для пластиковых бутылок, необходимо изучить ряд факторов, влияющих на ценообразование. Среди них можно отметить: качество используемых материалов, благодаря которому получается купить пресс для ПЭТ-бутылок, который прослужит длительное время без необходимости ремонта и замены комплектующих; цена в Украине на пресс для ПЭТ-бутылок зависит и от того, какие функции он будет выполнять с учетом индивидуальных потребностей предприятия и желаний заказчика. Если необходимо купить пресс для ПЭТ, который выдержит активную эксплуатацию и не потребует ремонтных процедур в пределах гарантийного срока, следует обратиться к компании “Форма-плюс”. Мы располагаем не только достаточными производственными мощностями, но и штатом опытных сотрудников, которые займутся изготовлением необходимого оборудования с учетом всех требований и пожеланий клиента. Приемлемая стоимость техники дает возможность приобрести необходимое оборудование без каких-либо проблем. Это выгодно отличает компанию от иных поставщиков, нередко предлагающих некачественные аналоги.
								#tab2.tab-pane.fade
									.press-form-info__content
										.press-form-info__img(style='background-image: url(' + require('../../components/images/photo-3.jpg') + ')')
										.press-form-info__info
											h5 От чего зависит цена на пресс формы
											p
												| Желая знать, по какой стоимости лучше всего купить пресс для пластиковых бутылок, необходимо изучить ряд факторов, влияющих на ценообразование. Среди них можно отметить: качество используемых материалов, благодаря которому получается купить пресс для ПЭТ-бутылок, который прослужит длительное время без необходимости ремонта и замены комплектующих; цена в Украине на пресс для ПЭТ-бутылок зависит и от того, какие функции он будет выполнять с учетом индивидуальных потребностей предприятия и желаний заказчика. Если необходимо купить пресс для ПЭТ, который выдержит активную эксплуатацию и не потребует ремонтных процедур в пределах гарантийного срока, следует обратиться к компании “Форма-плюс”. Мы располагаем не только достаточными производственными мощностями, но и штатом опытных сотрудников, которые займутся изготовлением необходимого оборудования с учетом всех требований и пожеланий клиента. Приемлемая стоимость техники дает возможность приобрести необходимое оборудование без каких-либо проблем. Это выгодно отличает компанию от иных поставщиков, нередко предлагающих некачественные аналоги.
						
			section.plastic-bottle
				h2.section-title
					| Особенности изготовления 
					br
					| пресс-форм для ПЭТ бутылок
				.slider.plastic-bottle-video
					mixin slider(img, data, info)
						div
							a(href=require("../../components/images/slider-" + img + '.jpg'), data-fancybox="gallery").plastic-bottle-video__box
								.plastic-bottle-video__img(style='background-image: url(' + require('../../components/images/slider-' + img + '.jpg') + ')')
								.plastic-bottle-video__bottom
									.plastic-bottle-video__data
										p= data
									.plastic-bottle-video__info
										p= info
					+slider('1', '23 июня, 2018', 'Подпись к фото 1')
					+slider('2', '23 июня, 2018', 'Подпись к фото 1')
					+slider('3', '23 июня, 2018', 'Подпись к фото 1')
					+slider('4', '23 июня, 2018', 'Подпись к фото 1')
					+slider('1', '23 июня, 2018', 'Подпись к фото 1')
					+slider('2', '23 июня, 2018', 'Подпись к фото 1')
					+slider('3', '23 июня, 2018', 'Подпись к фото 1')
					+slider('4', '23 июня, 2018', 'Подпись к фото 1')
			include ../templates/contact