extends ../templates/base

block variables
	- var classBody = 'news-page'
	- var classWrapper = 'news'

block title
	title Новости

block header
	include ../modules/header
	+header()
		+header-contact()
block main
	.content-layout
	.content-main.container
		.news-pg__top
			h1 Новости
			section.breadcrumb
				.container
					ul
						li
							a(href='./') Главная
						li Новости
		.content-main__inner
			section.news-pg__main
				ul
					mixin news(img, data, name, title, text)
						li.news-pg__box
							.news-pg__left(style='background-image: url(' + require('../../components/images/' + img + '.jpg') + ')')
							a(href="article.html").news-pg__right
								.go-to
								.news-pg__data
									p= data
								.news-pg__name
									p= name
								.news-pg__title
									h3= title
								.news-pg__text
									p= text
								.news-pg__read-more Читать еще
					+news('photo-1', '20 часов назад', 'Админ', 'Реализация намеченных плановых заданий в значительной степени', 'Современное производство стало очень высокотехнологичным и чтобы уверенно держаться на этом рынке, надо иметь соответствующее оборудование и высокопрофессиональных сотрудников. Наша компания ООО ”Форма-Плюс” уже более 5-ти лет работает на рынке инструментального производства...')
					+news('photo-2', '20 часов назад', 'Админ', 'Реализация намеченных плановых заданий в значительной степени', 'Современное производство стало очень высокотехнологичным и чтобы уверенно держаться на этом рынке, надо иметь соответствующее оборудование и высокопрофессиональных сотрудников. Наша компания ООО ”Форма-Плюс” уже более 5-ти лет работает на рынке инструментального производства...')
					+news('photo-3', '20 часов назад', 'Админ', 'Реализация намеченных плановых заданий в значительной степени', 'Современное производство стало очень высокотехнологичным и чтобы уверенно держаться на этом рынке, надо иметь соответствующее оборудование и высокопрофессиональных сотрудников. Наша компания ООО ”Форма-Плюс” уже более 5-ти лет работает на рынке инструментального производства...')
					+news('slider-4', '20 часов назад', 'Админ', 'Реализация намеченных плановых заданий в значительной степени', 'Современное производство стало очень высокотехнологичным и чтобы уверенно держаться на этом рынке, надо иметь соответствующее оборудование и высокопрофессиональных сотрудников. Наша компания ООО ”Форма-Плюс” уже более 5-ти лет работает на рынке инструментального производства...')
				.news-pg__load-more
					a(href="#") Загрузить еще
			include ../templates/contact