footer
	.footer
		.container
			.footer__content
				.footer__logo
					a(href="./")
				.footer__copyright
					p
						| ©
						span#year
						| FormaPlus. All Rights Reserved.
				a(href="https://unitspace.top" target='_blank').footer__production
					p Production by: