// VARIABLES
//fonts
$font: Montserrat, Arial, sans-serif;
$font2: BlissPro, Arial, sans-serif;
$font3: Rubik, sans-serif;
$font4: CenturySchoolbook, sans-serif;
// $Calibri: NotoSans, Arial, sans-serif;
// $PTSerif: Rubik, Arial, sans-serif;

//other
$background-color: #f3f7fa;
$main_color: #fff;
$main_transition: .3s all;
// $title-spacing: 3px;

// $full-hd: "screen and (max-width: 1869px)";
// $desctop-lg: "screen and (max-width: 1520px)";
// $desctop-lg: "screen and (max-width: 1599px)";
$desctop-md: "screen and (max-width: 1439px)";

$desctop: "screen and (max-width: 1199px)";
$tablet: "screen and (max-width: 991px)";
$mobile: "screen and (max-width: 767px)";